body{
	background-image: url(https://financialtribune.com/sites/default/files/field/image/example1.jpg);	
	 background-repeat:no-repeat;
	 background-size: cover;
}
h1{
	font-size: 40px;
	color: #9b000c;
}
img{
	width: 170px
}
#sathish{
	color: #0f0b0b;
	
	font-size: 30px;
	}
	b{
		float:right;
		color: #9b000c;
	}
#i{
opacity:0.4;
	}